.container             				{ position: relative; width: 940px; height:600px; margin: 0 auto; padding: 0; }

ol.controls            				{ display:none; }
ol, ul 								{ list-style:none; padding:0; margin:0; }
.height-600							{ height: 600px; overflow: hidden; }
a 									{ text-decoration: none; font-weight: 700; color: #c6852a; }
p 									{ line-height: 1.3em; }

/* Grid
========================================================*/
.container .column,
.container .columns    				{ float: left; display: inline; margin-left: 10px; margin-right: 10px; }
.row                                { margin-bottom: 10px; }

/* Nested Column Classes */
.column.alpha, .columns.alpha       { margin-left: 0; }
.column.omega, .columns.omega       { margin-right: 0; }

/* Base Grid */
.container .one.column,
.container .one.columns             { width: 100px; }
.container .two.columns             { width: 220px; }
.container .three.columns           { width: 340px; }
.container .four.columns            { width: 460px; }
.container .five.columns            { width: 580px; }
.container .six.columns             { width: 700px; }
.container .seven.columns           { width: 820px; }
.container .eight.columns           { width: 940px; }

/* Offsets */
.container .offset-by-one           { padding-left: 120px; }
.container .offset-by-two           { padding-left: 240px; }
.container .offset-by-three         { padding-left: 360px; }
.container .offset-by-four          { padding-left: 480px; }
.container .offset-by-five          { padding-left: 600px; }
.container .offset-by-six           { padding-left: 720px; }
.container .offset-by-seven         { padding-left: 840px; }

/* Helper Classes
========================================================*/
.pad20top {
	padding-top: 20px!important;
}
.border-bottom {
	padding-bottom: 10px!important;
	margin-bottom: 10px!important;
	border-bottom: 1px dotted #5e5a5a;
	width:99.5%;
}
.border-right {
	border-right: 1px dotted #5e5a5a;
}

.float-right {
	float: right;
}
.bold {
	font-weight: 700;
}
.all-caps {
	text-transform: uppercase;
}

/* Navigation
========================================================*/
.nav-bar {
	position: relative;
	border-top: 1px solid #dddddd;
	padding-top: 7px;
	margin: 20px 0;
	font-family: 'Asap', sans-serif; font-weight:400; font-size:11px; color:#000;
}
.page-number {
	text-align: center;
}
.toc {
	text-transform: uppercase;
	position: absolute;
	text-align: left;
}
.toc a {
	font-weight: 400;
	color: #000;
}
.prev {}
.next {}

#controls {
	text-indent: -9999px;
}
.prevBtn, .nextBtn {display:block;width:20px;height:77px;position:absolute;left:-20px;top:290px;z-index:1000;background:url(../images/btn_prev.gif) no-repeat 0 0;cursor:pointer;}	
.nextBtn{left:940px;}														
.nextBtn {background:url(../images/btn_next.gif) no-repeat 0 0;}

/* Spreads
========================================================*/
h1 { font-family: 'Great Vibes', cursive; font-weight:400; color:#674520; margin:20px 0; }
h2 { font-family: 'Abel', sans-serif; font-weight:400; }
p { font-family: 'Asap', sans-serif; font-weight:400; font-size:13px; color:#555; }

.spread-four h4, .spread-five h5, .spread-six h4, .spread-eight h3 {
	font-family: 'Asap', sans-serif; font-weight:400; font-size:13px; color:#000;
	text-transform: uppercase;
	margin: 0;
}
.spread-four p, .spread-five p, .spread-six p, .spread-seven p, .spread-eight p, .spread-eleven p, .spread-twelve p {
	margin: 0;
	padding: 0 0 20px 0;
}

/* Video Overlay
========================================================*/
.fancybox-skin {
	padding: 0!important;
}
.fancybox-inner {
	height: 500px!important;
}
.flowbox {
	height:500px;
}

/* Spread 1 */
.spread-one { background-image: url('../images/spread-one_bg.jpg'); height:600px; }
.spread-one-intro { 
	background: #FFF;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.85);
  	text-align: center;
  	margin: 55px 0 0 72px;
  	padding: 1px 0;
  	display: block;
}
.spread-one-intro-inner {
	border: 1px solid #674520;
	padding: 17px;
	margin: 10px;
	height: 288px;
}
.spread-one h1 { font-size: 48px; margin:0; display:inline; }
.spread-one-adventure { font-size: 141px; position: relative; top: -40px;}
.spread-one h2 { font-size: 22px; color: #674520; position: relative; top: -100px; padding: 0 10px; }
.spread-one-cta { font-family: 'Abel', sans-serif; font-weight: 400; font-size: 16px; color: #000; text-transform: uppercase; position: relative; top: -100px;}
.spread-one-cta img { position:relative; top: -2px; }
/* Spread 2 */
.spread-two h1 { font-size:68px; margin: 0; position:relative; text-align:center; }
.spread-two h2 { font-size:18px; color:#555; text-align:center; margin:0; padding-bottom:8px; border-bottom: 1px solid #ddd;}
.spread-two p { line-height: 1.2em;}
.spread-two address { font-family: 'Radley', serif; font-weight:400; font-size:18px; font-style:normal; color:#555; margin:0; }
.spread-two p:first-child { margin-top:0px; }
.spread-two p:last-child { margin:0; }
.carmen-pic, .carmen-info {
	float:left;
}
.carmen-pic {
	width: 92px;
	height: auto;
	transform:rotate(-4deg);
	-ms-transform:rotate(-4deg); /* IE 9 */
	-webkit-transform:rotate(-4deg); /* Safari and Chrome */
	box-shadow: 4px 4px 4px #888888;
}

.carmen-info {
	width: 300px;
	padding-left:17px;
}
.carmen-info p {
	margin-top: 0;
}

.carmen-wrapper {
	width: 100%;
	position: relative;

}
.thanks-to {
	font-style: italic;
}
/* Spread 3 */
.spread-three h1 { font-size:90px; text-align:center; margin:0!important; }
.spread-three li { text-align:center; width:220px!important; }
.spread-three div { text-align:center; }
.spread-three ol li {
	height: 114px;
}
.toc-num { font-family: 'Asap', sans-serif; font-weight:400; font-size:18px; color:#555; position:relative; display:block; }
.toc-break { width:20px; height: 6px; background-color: #e1dad2; display: block; position: relative; text-align: center; margin: 3px auto 3px auto; }
.toc-title { font-family: 'Abel', sans-serif; font-weight:400; font-size:24px; color:#555; position:relative; display:block; }
.toc-desc { font-family: 'Asap', sans-serif; font-weight:400; font-size:13px; color:#555; position:relative; display:block; line-height: 1.4em; padding: 0 15px; }
.toc-column-a, .toc-column-b { border-right: 1px dotted #5e5a5a; margin: 20px 0; text-align: center;}
.toc-column-c { margin: 20px 0; }
/* Spread 4 */
.spread-four { background: url('../images/spread-four-bg.gif'); }
.width-100p { width: 100%!important; }
.spread-four-column-one, .spread-four-column-two, .spread-four-column-three {
	border-right: 1px dotted #5e5a5a;
	padding-right: 20px;
}
.spread-four-column-four {
	padding-right: 20px;
}
.spread-four h1 {
	width: 195px;
	height: 175px;
	background: url('../images/spread-four-badge.png') no-repeat 22px;
	text-indent: -9999px;
	margin: 0;
}
.spread-four h2 {
	padding-left: 22px;
	font-family: 'Abel', sans-serif; font-weight:400; font-size:18px; color:#674520;
	margin-top: 0;
}

.spread-four-intro {
	background: #FFF;
	margin: 0 10px;
	padding: 20px 20px 5px 20px;
	overflow: visible;
	position: relative;
}
.spread-four-intro p:last-child {
	padding-bottom: 0;
}
.spread-four-intro-header {
	background: #FFF;
}
.spread-four-intro-header img {
	position: absolute;
	top: -10px;
	left: 50px;
}
.spread-four h3 {
	background: url('../images/spread-four-flag-eat.png') no-repeat;
	font-family: 'Abel', sans-serif; font-weight:400; font-size:40px; color:#FFF;
	margin: 20px 0 0 0;
	padding: 4px 0 3px 14px;
	text-transform: uppercase;
}
.contact-info {
	font-style: italic;
}

.contact-info a {
	color: #c6852a;
	text-decoration: none;
}
/* Spread 5 */
.spread-five {
	background: url('../images/spread-five-bg.gif');
}
.spread-five-column-one p, .spread-five-column-one h5 {
	padding-left: 10px;
}
.spread-five-column-one, .spread-five-column-two {
	border-right: 1px dotted #5e5a5a;
	padding-right: 20px;
}

.spread-five-column-two {
	padding-left: 10px;
}
.spread-five-column-three {
	padding-right: 10px;
}

.spread-five-column-four {
	border-left: 1px dotted #5e5a5a;
	padding-left: 20px;
	padding-right: 20px;
}
.spread-five h3 {
	background: url('../images/spread-five-flag-play.png') no-repeat;
	font-family: 'Abel', sans-serif; font-weight:400; font-size:40px; color:#FFF;
	margin: 20px 0 0 0;
	padding: 4px 0 3px 14px;
	text-transform: uppercase;
	position: relative;
	left: -10px;
}
.spread-five h4 {
	font-family: 'Abel', sans-serif; font-weight:400; font-size:18px; color:#000;
	border-bottom: 5px solid #c7b29a;
	display: block;
	text-transform: uppercase;
	margin: 0 0 10px 0;
}
.spread-five-column-one h4 {
	margin-left: 10px;
}
.spread-five-column-one img {
	position: relative;
	top: -20px;
}
.spread-five-column-four img {
	position: relative;
	left: -30px;
}
.s5-polaroids {
	position: relative;
	left: 10px;
}
/* Spread 6 */
.spread-six-left {
	background: url('../images/spread-six-bg.gif');
}
.spread-six h3 {
	background: url('../images/spread-six-flag-love.png') no-repeat;
	font-family: 'Abel', sans-serif; font-weight:400; font-size:40px; color:#FFF;
	margin: 20px 0 0 0;
	padding: 4px 0 3px 14px;
	text-transform: uppercase;
	position: relative;
	
}
.spread-six-column-two {
	padding: 0 10px;
}
.pad20left {
	padding-left: 20px!important;
}

.fun-fact {
	width: 227px!important;
	height: 196px;
	overflow: hidden;
	margin-bottom: 7px;
}
.fun-fact-info {
	height: 196px;
	background: #505b5e;
	background: rgb(80, 91, 94);
	background: rgba(80, 91, 94, 0.80);
	padding: 0 20px;
	position: relative;
	top: -40px;
}
.fun-fact-info h5 {
	font-family: 'Abel', sans-serif; font-weight:400; font-size:18px; color:#FFF;
	text-transform: uppercase;
	padding-top: 10px;
	margin: 0 0 38px 0;
}
.fun-fact-info p {
	color: #FFF;
}
.fun-facts-wrapper {
	position: relative;
	height: 600px;
}
.fun-fact-badge {
   position: absolute;
   top: 42%;
   left: 40%;
   z-index: 9999;
}
/* Spread 7 */
.spread-seven-intro {
	background: url('../images/spread-seven-bg.jpg');
	padding: 0 10px 0 20px;
}
.spread-seven-intro a {
	color: #eab94a;
	font-weight: 700px!important;
}
.spread-seven h1 {
	font-size: 70px;
	color: #FFF;
	text-align: center;
	margin: 0;
}
.spread-seven h2 {
	font-size: 16px;
	color: #FFF;
}
.spread-seven-intro p {
	color: #FFF;
}
.godiva-landscapes {
	position: relative;
}
#slideshow {
	width: 580px;
}
#nav {
	position: absolute;
	left: 44%;
	top: 220px;
	z-index: 999;
}
#nav a {
	font-size: 2.5em; 
	line-height: 0.75em; 
	text-decoration:none; 
	padding-right: 5px;
}
a.slide0, a.slide1, a.slide2, a.slide3 { color: rgba(255, 255, 255, 0.5);}

a.slide0.activeSlide, a.slide1.activeSlide, a.slide2.activeSlide, a.slide3.activeSlide {color: #FFF;}

.employee-stories img { 
	float: left; 
	padding-right: 12px; 
}
.employee-stories li:nth-child(even) img {
	float: right;
	padding-right: 0;
	padding-left: 12px;
}
.employee-stories h3 {
	font-family: 'Asap', sans-serif; font-weight:700; font-size:13px; color:#000;
	margin: 0;
	color: #555;
}
.employee-story { margin-bottom: 0; }
.employee-story p {
	padding-bottom: 20px;
}
.employee-info { font-weight: 400; text-transform: uppercase; }
.explore-godiva {
	border-top: 1px solid #DDD;
}
.explore-godiva h3 {
	font-family: 'Abel', sans-serif; font-weight:400; font-size:18px; color:#555;
	margin: 0;
}
.tooltip-header {
	font-weight: 700;
}
.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background: #FFF;
    bottom: 26px;
    color: #555;
    content: attr(title);
    left: 20%;
    padding: 5px 5px;
    position: absolute;
    z-index: 98;
    width: 120px;
    -moz-box-shadow:    0 3px 5px 5px rgba(0,0,0,0.5);
  	-webkit-box-shadow: 0 3px 5px 5px rgba(0,0,0,0.5);
  	box-shadow:         0 3px 5px 5px rgba(0,0,0,0.5);
}
.tooltip:hover:before{
    border: solid;
    border-color: #FFF transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 55%;
    position: absolute;
    z-index: 99;
}
/* Spread 8 */
.spread-eight h3 {}
.my-sweet-life {
	background: url('../images/my-sweet-life-bg.jpg');
	height: 600px;
}
.my-sweet-life h1 {
	text-align: center;
	font-size: 70px;
	margin-top: 90%;
}
.my-sweet-life h2 {
	font-size: 18px;
	text-align: center;
	color: #674520;
	padding: 0 50px;
}
.meet-phillipe p {
	font-family: 'Abel', sans-serif; font-weight:400; font-size:18px; color:#555;
	margin: 0;
	border-top: 1px solid #DDD;
	padding-top: 10px;
}
/* Spread 9 */
.spread-nine {
	background: url('../images/spread-nine-bg.jpg');
}
.oh-baby-wrapper {
	border: 10px solid rgba(255, 255, 255, 0.4);
	width: 420px;
	height: 230px;
	margin: 40px 0 0 40px;
}
.oh-baby {
	position: relative;
	width: 420px;
	height: 210px;
	background: #FFF;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.80);
  	text-align: center;
  	padding-top: 20px;
  	display: block;
  	
}
.oh-baby h1 {
	font-size: 80px;
	margin: 0;
}
.oh-baby h2 {
	font-size: 18px;
	color: #351001;
	padding: 0 40px;
	margin: 0;
}
/* Spread 10 */
.city-of-angels {
	background: #5e3b2f;
	color: #FFF;
	height: 600px;
}
.city-of-angels h3 {
	font-family: 'Abel', sans-serif; font-weight:400;
	font-size: 18px;
	padding: 0 10px;
}
.city-of-angels p {
	color: #FFF;
	padding: 0 10px;
}
.chef-angela {
	height: 600px;
	width:100%;
	background: url('../images/spread-ten-angela.jpg');
}
.chocolate-fantasy h3 {
	font-family: 'Abel', sans-serif; font-weight:400;
	font-size: 18px;
	color: #674520;
}
/* Spread 11 */
.spread-eleven h3 {
	font-family: 'Abel', sans-serif; font-weight:400;
	font-size: 18px;
	color: #674520;
	margin-bottom: 0;
}
.spread-eleven-column-two p {
	margin-top: 43px;
	padding-right: 2px;
}
/* Spread 12 */
.spread-twelve {
	background: url('../images/spread-twelve-image.jpg');
}
.regal-dreams {
	margin-left: 20px;
	width: 224px;
}
.regal-dreams h3 {
	font-family: 'Abel', sans-serif; font-weight:400;
	font-size: 18px;
	color: #FFF;
	margin-bottom: 0;
}
.cherishing-love {
	margin-top: 465px;
	padding: 0 20px 0 20px;
}
.cherishing-love h3 {
	font-family: 'Abel', sans-serif; font-weight:400;
	font-size: 18px;
	color: #674520;
	margin-bottom: 0;
}
.regal-dreams p {
	color: #FFF;
}
.cherishing-love p {
	color: #000;
}
/* Spread 13 */
.divine-dining {
	background: url('../images/spread-thirteen-divine-dining.jpg');
	height: 300px;
	margin-bottom: 10px;
}
.divine-dining h1 {
	color: #FFF;
	font-size: 100px;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	margin: 130px 0 0 0;
}
.divine-dining h2 {
	color: #FFF;
	text-align: center;
	margin-top: -34px;
	font-size: 22px;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
}
.highlight-slides {
	position: relative;
}

#slideshow2 {
	width: 230px;
}
.dining-slide-bar {
	background: rgba(0, 0, 0, 0.5);
	display: block;
	position: absolute;
	height: 48px;
	width: 230px;
	z-index: 998;
	bottom: 0;
}
.dining-slide figcaption {
	font-family: 'Asap', sans-serif; font-weight:400; font-size:12px; color:#FFF;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
}
#nav2 {
	position: absolute;
	left: 36%;
	top: 256px;
	z-index: 999;
}
#nav2 a {
	font-size: 2.5em; 
	line-height: 0.75em; 
	text-decoration:none; 
	padding-right: 5px;
}
.spread-thirteen-sidebar {
	background: url('../images/spread-thirteen-side-bg.jpg');
	height: 600px;
}
.spread-thirteen-sidebar p {
	color: #FFF;
	padding: 0 20px;
}
.spread-thirteen-sidebar p:nth-child(1) {
	padding-top: 10px;
}
.dinner-highlights aside {
	font-family: 'Abel', sans-serif; font-weight:400; font-size:18px; color:#555;
}
.player {
	margin: 0!important;
}
.highlights {
	margin-top: -24px;
}
/* Spread 14 */
.spread-fourteen h1 {
	text-align: center;
	margin: 0;
	font-size: 45px;
	color: #555;
	line-height: 1.2em;
}
.spread-fourteen h2 {
	font-family: 'Asap', sans-serif; font-weight:400; font-size:15px; color:#555;
	text-transform: uppercase;
	text-align: center;
	margin: 5px 0 0 0;
}
.menu-small {
	text-transform: none;
	font-size: 12px;
	line-height: 1em!important;
}
.spread-fourteen figcaption {
	font-family: 'Asap', sans-serif; font-weight:400; font-size:12px; color:#555;
	text-align: center;
}
.menu-row-one li, .menu-row-two li {
	width: 220px;
	height: 260px;
	float: left;
	padding: 0 9px;
	border-right: 1px dotted #5e5a5a;
}
.menu-first-li {
	padding-left: 0!important;
}
.menu-last-li {
	padding-right: 0!important;
}
.menu-row-one {
	padding-bottom: 10px;
	border-bottom: 1px dotted #5e5a5a;
}
.menu-row-two {
	margin-top: 10px;
}
.coffee h2 {
	margin: 100px 0 10px 0;
}

/* Spread 15 */
.spread-fifteen {
	background: url('../images/sp15-paper-bg.jpg');
}
.spread-fifteen h1 {
	font-size: 58px;
	color: #000;
	margin: 30px 0 0 30px;
}
.spread-fifteen h5 {
	font-family: 'Great Vibes', cursive; font-weight:400; color:#000; margin:20px 0;
	font-size: 30px;
}
.sp15-tells {
	font-size: 28px;
	position: absolute;
}
.sp15-a {
	font-size: 28px;
}
.sp15-story {
	font-size: 28px;
	margin-left: -8px;
}
.spread-fifteen h2 {
	font-size: 16px;
	margin: 30px 0 0 0;
}
.sp15-header-left {
	float: left;
	width: 400px;
}
.sp15-header-right {
	float: left;
	width: 300px;
}
#truffe-collection {
	background: url('../images/sp15-collection-bg.png') no-repeat;
	margin: 0 0 0 15px;
	padding: 10px 0 0 10px;
	height: 280px;
}
#truffe-collection h3 {
	text-align: center;
	font-family: 'Abel', sans-serif; font-weight:400; font-size:16px; color:#555;
	text-transform: uppercase;
	margin:0;
}
#truffe-collection li {
	text-align: center;
	font-family: 'Asap', sans-serif; font-weight:400; font-size:11px; color:#555;
	margin-top: 100px;
}
#truffe-collection a {
	display: block;
	height: 114px;
	float: left;
	background-repeat: no-repeat;
}
#truffe-collection h4, #truffe-collection p {
	text-align: center;
	margin: 0;
}
#truffe-collection h4 {
	font-family: 'Asap', sans-serif; font-weight:400; font-size:13px; color:#555;
	text-transform: uppercase;
	margin: 0;
	color: #000;
}
#truffe-collection p {
	font-size: 13px;
	color: #555;
	padding: 0 65px 0 40px;
}
.roll {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px!important;
	padding-top: 10px!important;
}
.truffe-1 {
	width: 95px;
	background: url('../images/sp15-truffle1.jpg');
}
.truffe-1:hover {
	background-position: -95px 0px;
}
.truffe-1 li {
	margin-left: -10px;
}
.truffe-2 {
	width: 116px;
	background: url('../images/sp15-truffle2.jpg');
}
.truffe-2:hover {
	background-position: -116px 0px;
}
.truffe-2 li {
	margin-left: -3px;
}
.truffe-3 {
	width: 114px;
	background: url('../images/sp15-truffle3.jpg');
}
.truffe-3:hover {
	background-position: -114px 0px;
}
.truffe-3 li {
	margin-left: -7px;
}
.truffe-4 {
	width: 117px;
	background: url('../images/sp15-truffle4.jpg');
}
.truffe-4:hover {
	background-position: -117px 0px;
}
.truffe-4 li {
	margin-left: -8px;
}
.truffe-5 {
	width: 105px;
	background: url('../images/sp15-truffle5.jpg');
}
.truffe-5:hover {
	background-position: -105px 0px;
}
.truffe-6 {
	width: 92px;
	background: url('../images/sp15-truffle6.jpg');
}
.truffe-6:hover {
	background-position: -92px 0px;
}
.truffe-6 li {
	margin-left: 10px;
}
.truffe-line {
	position: relative;
	top: -33px;
}
#truffe-one, #truffe-two, #truffe-three, #truffe-four, #truffe-five, #truffe-six {
	display: none;
}
.shop-now {
	position: absolute;
	left: 330px;
	margin-top: 5px;
}
.truffeology-a p {
	padding-left: 20px;
}
.truffeology-b p {
	padding-left: 10px;
	padding-right: 20px;
}
.sp15-left-column {
	
}
.meet-the-draps p {

}
.draps-slides {
	position: relative;
}

#slideshow3 {
	width: 230px;
}
.draps-slide-bar {
	background: rgba(0, 0, 0, 0.5);
	display: block;
	position: absolute;
	height: 48px;
	width: 220px;
	z-index: 998;
	bottom: 0;
}
.draps-slide figcaption {
	font-family: 'Asap', sans-serif; font-weight:400; font-size:12px; color:#FFF;
	font-style: italic;
	text-align: center;
	padding-top: 10px;
}
#nav3 {
	position: absolute;
	left: 31%;
	top: 236px;
	z-index: 999;
}
#nav3 a {
	font-size: 2.5em; 
	line-height: 0.75em; 
	text-decoration:none; 
	padding-right: 5px;
}
/* Spread 16 */
.spread-sixteen {
	background: url('../images/sp16-bg.jpg');
	background-position: 0 0; 
	background-repeat: no-repeat;
}
.spread-sixteen h1 {
	font-size: 40px;
	color: #FFF;
	margin:40px 0 0 0;
}
.spread-sixteen h3 {
	font-family: 'Abel', sans-serif; font-weight:400; font-size:18px; color:#FFF;
	margin-bottom: 0;
}
.spread-sixteen p {
	color: #FFF;
	margin-top: 0;
}
#signature-content {
	color: #FFF;
	width: 250px;
	margin: 480px 0 0 40px;
}
#signature-content h2 {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 700;
	margin: 0;
}
#signature-content p {
	color: #FFF!important;
	margin: 0;
}
.signature-0, .signature-1, .signature-2, .signature-3, .signature-4, .signature-5, .signature-6 {
	display: none;
}
.map_image { display: block; position: relative; }
	.map_image .map_link { display: block; position: absolute; text-indent: -999em; overflow: hidden; }
	.map_image #map_link_0 { width: 71px; height: 74px; top: 5px; left: 261px; }
	.map_image #map_link_1 { width: 104px; height: 88px; top: 74px; left: 128px; }
	.map_image #map_link_2 { width: 114px; height: 129px; top: 260px; left: 61px; }
	.map_image #map_link_3 { width: 109px; height: 121px; top: 192px; left: 270px; }
	.map_image #map_link_4 { width: 82px; height: 88px; top: 179px; left: 424px; }
	.map_image #map_link_5 { width: 91px; height: 98px; top: 306px; left: 467px; }
	.map_image #map_link_6 { width: 161px; height: 182px; top: 414px; left: 360px; }

.sp16-shop-now {
	position: absolute;
	left: 300px;
	top: 350px	;
}
/* Spread 17 */
.spread-seventeen {
	background: url('../images/sp17-bg.jpg');
}
.spread-seventeen h1 {
	text-indent: -9999px;
}
.spread-seventeen h2 {
	text-align: center;
	color: #FFF;
	font-size: 18px;
	text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
	margin-top: 180px;
}
.spread-seventeen h3 {
	font-family: 'Great Vibes', cursive; font-weight:400; color:#555; margin:20px 0;
	font-size: 30px;
	text-align: center;
	margin-bottom: 0;
}
.spread-seventeen p {
	margin: 0 20px 10px 20px;
}
.holiday-gifts {
	margin: 0 20px;
	background: #FFF;
	background: rgba(255, 255, 255, 0.8);

}
.holiday-gifts ul {
	margin: 0 20px;
}
.holiday-gifts li {
	font-family: 'Asap', sans-serif; font-weight:400; font-size:13px; color:#555;
	float: left;
	width: 170px;
	margin:0 10px 0 0;
}
.holiday-gifts-left {
	float: left;
}
.holiday-gifts-right {
	width: 316px;
	float: left;
	border-left: 1px solid #bab3b0;
}
.holiday-gifts-right img, .holiday-gifts-left img  {
	margin-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto
}
/* Spread 18 */
.spread-eighteen {
	background: url('../images/sp18-fpo.jpg');
}
/* Spread 19 */
.spread-nineteen {
	background: url('../images/sp19-bg.jpg');
	color: #FFF;
}
.spread-nineteen h1 {
	color: #FFF;
	font-size: 100px;
	text-align: center;
	margin-bottom: 0!important;
	line-height: 1em;
}
.spread-nineteen h2 {
	font-size: 18px;
	color: #FFF;
	text-align: center;
	margin: 0;
}
.spread-nineteen p, .spread-nineteen h3 {
	color: #FFF;
	margin: 0 60px;
}
.spread-nineteen h3 {
	font-family: 'Great Vibes', cursive; font-weight:400;
	font-size: 30px;
	text-align: center;
	margin-bottom: 10px;
}
.spread-nineteen img {
	display: block;
    margin-left: auto;
    margin-right: auto
}
.valentines a {
	color: #ffc45d;
}
#lady-legend h3 {
	color: #411c00;
	text-align: center;
}
/* Spread 20 */
.spread-twenty h1 {
	font-size: 70px;
	color: #555;
	text-align: center;
	line-height: 1em;
	margin-top: 90px!important;
}
.profile-intro p {
	text-align: center;
	font-size: 16px;
	padding: 0 15px;
	font-family: 'Abel', sans-serif; font-weight:400;
	margin-top: 10px;
}
.sp20-col-1, .sp20-col-2, .sp20-col-3, .sp20-col-4, .sp20-col-5 { float: left; }
.sp20-col-1, .sp20-col-2, .sp20-col-4 { width: 176px; }
.sp20-col-3 { width: 218px; }
.sp20-col-5 { width: 173px; }
.sp20-col-1, .sp20-col-2, .sp20-col-3, .sp20-col-4 { margin-right: 5px; }

.profile-1, .profile-2, .profile-3, .profile-4, .profile-5, .profile-6, .profile-7, .profile-8, .profile-9, .profile-intro { position: relative; overflow: hidden;}

.profile-1, .profile-2, .profile-3, .profile-4, .profile-6, .profile-8 { width: 176px; }
.profile-intro, .profile-5 { width: 218px; }
.profile-7, .profile-9 { width: 173px; }

.profile-1, .profile-2, .profile-6, .profile-7 { height: 281px; }
.profile-3, .profile-4, .profile-8, .profile-9 { height: 314px; }
.profile-intro { height: 368px; }
.profile-5 { height: 227px; }

.profile-1, .profile-2, .profile-intro, .profile-6, .profile-7 { margin-bottom: 5px; }

.profile-intro { background: #dad9cb; }
.profile-intro h1 { margin: 0; }

.profile-name {
	font-family: 'Asap', sans-serif; font-weight:700; font-size:11px; color:#FFF;
	padding-left: 10px;
	position: relative;
	top: -36px;
	z-index:99;
}
.profile-1-color, .profile-2-color, .profile-3-color, .profile-4-color, .profile-5-color, .profile-6-color, .profile-7-color, .profile-8-color, .profile-9-color,
.profile-1-quote, .profile-2-quote, .profile-3-quote, .profile-4-quote, .profile-5-quote, .profile-6-quote, .profile-7-quote, .profile-8-quote, .profile-9-quote {
	position: absolute;
	z-index: 98;
}
.profile-1-quote, .profile-2-quote, .profile-3-quote, .profile-4-quote, .profile-5-quote, .profile-6-quote, .profile-7-quote, .profile-8-quote, .profile-9-quote {
	display: none;
	top: 0;
}
.profile-1-quote p, .profile-2-quote p, .profile-3-quote p, .profile-4-quote p, .profile-5-quote p, .profile-6-quote p, .profile-7-quote p, .profile-8-quote p, .profile-9-quote p {
	padding: 10px;
	font-family: 'Abel', sans-serif; font-weight:400; font-size:20px; color:#FFF;
}
.profile-1-color, .profile-2-color, .profile-3-color, .profile-4-color, .profile-6-color, .profile-8-color, 
.profile-1-quote, .profile-2-quote, .profile-3-quote, .profile-4-quote, .profile-6-quote, .profile-8-quote {
	width: 176px;
}
.profile-7-color, .profile-9-color,
.profile-7-quote, .profile-9-quote { 
	width: 173px; 
}
.profile-1-color, .profile-2-color, .profile-6-color, .profile-7-color { top: 240px; height: 281px; }
.profile-3-color, .profile-4-color, .profile-8-color, .profile-9-color { top: 272px; height: 314px; }
.profile-5-color { top: 184px; width: 218px; height: 227px; }

.profile-1-quote, .profile-2-quote, .profile-6-quote, .profile-7-quote { height: 281px; }
.profile-3-quote, .profile-4-quote, .profile-8-quote, .profile-9-quote { height: 314px; }
.profile-5-quote { width: 218px; height: 227px; }

.profile-1-color {
	background: #c6852a;
	background: rgba(198, 133, 42, 0.7);
}
.profile-2-color {
	background: #411c00;
	background: rgba(65, 28, 0, 0.7);
}
.profile-3-color {
	background: #1d4a53;
	background: rgba(29, 74, 83, 0.7);
}
.profile-4-color {
	background: #a83b3c;
	background: rgba(168, 59, 60, 0.7);
}
.profile-5-color {
	background: #c6852a;
	background: rgba(198, 133, 42, 0.7);
}
.profile-6-color {
	background: #1d4a53;
	background: rgba(29, 74, 83, 0.7);
}
.profile-7-color {
	background: #c6852a;
	background: rgba(198, 133, 42, 0.7);
}
.profile-8-color {
	background: #411c00;
	background: rgba(65, 28, 0, 0.7);
}
.profile-9-color {
	background: #a83b3c;
	background: rgba(168, 59, 60, 0.7);
}




.fun-fact {
	width: 227px!important;
	height: 196px;
	overflow: hidden;
	margin-bottom: 7px;
}
.fun-fact-info {
	height: 196px;
	background: #505b5e;
	background: rgb(80, 91, 94);
	background: rgba(80, 91, 94, 0.80);
	padding: 0 20px;
	position: relative;
	top: -40px;
}





